# Ignore local dev stuff from being copied into Docker image

node_modules
dist
.git
.gitignore
.vscode
.idea
.env
.env.local
Dockerfile
*.log
*.md
*.tgz
*.zip
*.tar.gz
*.swp
*.swo
*.tmp
.DS_Store
Thumbs.db


node_modules/
dist/
.git/
.DS_Store
google-cloud-sdk/
google-cloud-cli-*.tar.gz
*.log

